@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@400;700&&family=Titillium+Web:wght@300&display=swap');

html {
  height: 100%;
}

body, tw-story
{
  font-family: 'Kalam', cursive;
  margin-left: 2em;
  height: 100%;
}

#story {
  height: auto;
  margin-top: 3em;
  margin-bottom: 0em;
  border-radius: 10px;
}

.passage {
  line-height: 1.25;
  font-size: large;
  margin-left: 1.5rem;
  font-size: 1.5rem;
}

a {
  color: #4337af;
  text-decoration: none;
}

a:hover {
  color: #120e4b;
  text-decoration: none;
}
a:active {
  color: #4b4694;
}

.hidden
{
visibility: hidden;
opacity: 0;
transition: visibility 0s 2s, opacity 2s linear;
}

.paper {
  padding: 37px 55px 27px;
  position: relative;
  background: rgb(233, 233, 243);
  background: -webkit-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: -moz-linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  background: linear-gradient(top, #DFE8EC 0%, white 8%) 0 57px;
  -webkit-background-size: 100% 30px;
  -moz-background-size: 100% 30px;
  -ms-background-size: 100% 30px;
  background-size: 100% 30px;
  color: #120e4b;
  background: #4b4694;
  }

/* for option list */
.passage ol {
  margin-left: -1em;
}

.option {
  font-weight: bold;
}

.speaker {
  text-transform: uppercase;
  font-weight: bold;
  margin-left: -1.5em;
}

/* for inserted paragraphs and past paragraphs */
.dim {
  transition: opacity 0.5s;
  opacity: 0.5;
}

.macro-timed-insert {
	transition-duration: 2s;
}

.pastchoice {
  color: #737c87;
}

/* continue macros and overlays */
span.continueblock {
  display: none;
}

a.macro-linkreplace {
  background-color: #4b4694;
  color: white;
  margin-left: -1.5em;
  display: block;
  border-radius: 10px;
}

a.macro-linkreplace .padding {
  padding: 15px;
  padding-bottom: 10px;
  padding-top: 10px;
  display: block;
}

/* edits to sidebar and dialog */

#ui-dialog-body {
	background-color: rgb(233, 233, 243);
  border: 1px solid #120e4b;;
  color: #120e4b;
	text-align: left;
	line-height: 1.5;
	padding: 1em;
}

#ui-dialog-titlebar {
	background-color: #4b4694;
	min-height: 24px;
}

#ui-bar {
	background-color: rgb(233, 233, 243);
	border-right: 1px solid #120e4b;
	text-align: center;
}

#menu li a {
	display: block;
	padding: 0.25em 0.75em;
	border: 1px solid transparent;
	color: #120e4b;
	text-transform: uppercase;
}
#menu li a:hover {
	background-color:  #4b4694;
	border-color: #eee;
}

#ui-bar-toggle,
#ui-bar-history [id|="history"] {
	font-size: 1.2em;
	line-height: inherit;
	color: #120e4b;
	background-color: transparent;
	border: 1px solid #444;
}

#ui-bar-toggle:hover {
	background-color: #4b4694;
  border-color: #eee;
}

#ui-bar-history [id|="history"]:hover {
	background-color: #4b4694;
	border-color: #eee;
}

#ui-bar-history [id|="history"]:disabled {
	color: rgb(160, 160, 160);
	background-color: transparent;
	border-color: #444;
}